# -*- mode: gitignore; -*-

.cabal-sandbox
cabal.sandbox.config
dist
dist-newstyle
cabal
*.o
*.hi
*.dyn_hi
*.dyn_o
.stack-work
.DS_Store
.ghc.environment.*
out/
.idea/
*.lock
*.iml
*.swp
.vscode/

# text editor temp files
*~
\#*\#
.\#*

